:root {
    --first-title-color :#FFFFFF;
    --second-title-color :#303030;
    --first-text-color :#FFFFFF;
    --second-text-color:rgba(157, 164, 189, 0.6);
    --third-text-color:#9DA4BD;
    --fouth-text-color:#303030;
    --fifth-text-color:#555555;
    --first-focus-color:#FF6C00;
    }

/* ----------Обнуление---------- */
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

img {
    display: block;
}

/* ------------style------------ */
body {
    font-style: 'Open Sans', Tahoma, 'sans-serif';
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    padding-left: 0;
    margin: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.btn {
    min-width: 160px;
    height: 40px;
    font-family: inherit;
    font-weight: 600px;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    border: 1px solid #FF6C00;
        border-radius: 25px;
}

.btn:hover,
.btn:focus {
    background-color: #ff6c00;;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


/* ----------Header------------- */
.header {
    background-color: bisque;
}

.header .container {
    display: flex;
    align-items: center;
}

.header-link {
    margin-right: 130px;
}

.header-list {
    display: flex;
}

.header-item {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
}

.header-item:not(:last-child) {
    margin-right: 30px;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--first-focus-color);
}

.header-connect {
    margin-left: auto;
}

.nav-link {
    color: var(--first-text-color);
}

.header-tel {
    font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: var(--first-text-color);
}

.header-tel:hover,
.header-tel:focus {
    color: var(--first-focus-color);
}

.header-btn {
    font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: var(--first-text-color);
        margin-left: 40px;

}

/* ---------hero-------------- */

.hero .container {
    display: flex;
}

.hero-list {
    width: 100px;
    justify-content: center;
    background-color: aqua;
    
}

.hero-right {
    padding: 184px 526px 208px 100px;
    flex-grow: 1;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../image/hero.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: #303030;
}

.hero-link {
    font-size: 11px;
        line-height: 1.33;
        letter-spacing: 0.2em;
        color:var(--second-title-color);
}

.hero-top-text {
    font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        text-transform: uppercase;
        color:var(--second-text-color);
        margin-bottom: 20px;
        display: flex;
        align-items: center;
}

.hero-top-text::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;
    margin-right: 20px;
}

.hero-title {
    font-weight: 700;
        font-size: 72px;
        line-height: 1.18; 
        letter-spacing: 0.05em;
        color:var(--first-title-color);
        margin-bottom: 20px;
}

.hero-botton-text {
    font-weight: 400;
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.02em;
        color:var(--third-text-color);
}

/* ---------------------------about------------------------ */
.about {

    padding-top: 120px 0px;
    
}

.about .container {
    display: flex;
}

.about-list {
    display: flex;
}

.about-item:not(:last-child){
    margin-right: 30px;
} 

.about-right {
    margin-left: 30px;
    width: 470px;

}

.about-top-text {
    font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        text-transform: uppercase;
        color:var(--fouth-text-color);
        margin: 0 0 20px 0px;
        display: flex;
        align-items: center;
        
}

.about-top-text::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;
    margin-right: 20px;
}



.about-title {
    font-weight: 700;
        font-size: 42px;
        line-height: 1.16;
        letter-spacing: 0.05em;
        color:var(--second-title-color);
        margin-bottom: 20px;
}

.about-botton-text {
    font-weight: 400;
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.02em;
        color:var(--fifth-text-color);
        margin-bottom: 20px;
}

.about-second-text {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.86;
        letter-spacing: 0.02em;
        color:var(--fifth-text-color);
        margin-bottom: 42px;
}

/* -----------price------------------------------- */


.price {
    padding: 120px 0px 120px 0px;
    margin: auto;
        background-image: url(../image/servis.png);
        background-color: #191c26;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        max-width: 1600px;
}



.price-top-text {
    font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        text-transform: uppercase;
        color:var(--second-text-color);
        margin-bottom: 20px;
        display: flex;
        align-items: center;
}

.price-top-text::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;
    margin-right: 20px;
}

.price-title {
    font-weight: 700;
        font-size: 42px;
        line-height: 1.16;
        letter-spacing: 0.05em;
        color:var(--first-title-color);
        margin-bottom: 44px;
        
}

.prices-list-wrap {
    display: flex;
    gap: 30px;
}

.price-list {
    width: 570px;
    flex-grow: 1;
    padding: 30px 20px ;
    margin-bottom: 44px;
}

.price-list:first-child {
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list:last-child {
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-item {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-weight: 400;
        font-size: 18px;
        line-height: 1.67;
        text-align: right;
        letter-spacing: 0.02em;
        color: var(--third-text-color);
}

.price-item::after {
    content: '';
    height: 1px;
    background-color: var(--third-text-color);
    flex-grow: 1;
    margin: 0px 12px;
}

.price-item-elmt {
    margin: 0;
    font-weight: 400;
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.02em;
        color:var(--third-text-color);
}

.prices-item-elmt:not(:last-child) {
    order: 1;
}


.price-btn {
    display: block;
    margin: auto;
    background-color: transparent;
    color: var(--first-text-color);
}


/* ----------------information------------------ */
.benefits {
    padding: 120px 0;
}

.benefits .container {
    display: flex;
}

.benefits-list-wrap {
    width: calc(50% + 15px);
    display: flex;
    justify-content: center;
}

.benefits-items {
    background: #f7f7f7;
    width: 170px;
    height: 133px;
    padding: 20px 24px;
    text-align: center;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
}

.benefits-items:nth-child(2n + 1) {
    margin-right: 30px;
}

.benefits-items:nth-child(2n) {
    margin-top: 30px;
}

.benefist-item-span {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.05em;
    color: #303030;
    display: inline-block;
}

.benefist-item-span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefist-item-span::after {
    content: '+';
    font-weight: 600;
        font-size: 16px;
        line-height: 1.37;
        text-align: center;
        color: #FF6C00;
}

.benefist-items-text {
    width: 122px;
    margin: auto;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: #303030;
}

.benefits-wrap {
    padding-top: 9px;
    padding-right: 70px;
}

.benefits-pre-title {
    font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        text-transform: uppercase;
        color: #303030;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
}

.benefits-pre-title::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;
    margin-right: 20px;
}

.benefits-title {
    font-weight: 700;
        font-size: 42px;
        line-height: 1.16;
        letter-spacing: 0.05em;
        color: #303030;
        padding-bottom: 20px;
}

.benefits-after-title {
    font-weight: 400;
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.02em;
        color: #555555;
}
/* -------------------masters----------------- */
.masters {
    background-color: #F7F7F7;
    padding: 120px 0px;

}

.masters-title {
    font-weight: 700;
        font-size: 42px;
        line-height: 1.16;
        letter-spacing: 0.05em;
        color:var(--second-title-color);
        margin-bottom: 44px;
}
.masters-text {
    font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        text-transform: uppercase;
        color:var(--fouth-text-color);
        margin-bottom: 20px;
        display: flex;
        align-items: center;
}

.masters-text::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;
    margin-right: 20px;
}


.masters-list {
    display: flex;
}

.masters-item:not(:last-child){
    margin-right: 30px;
}

.masters-item {
    width: calc ((100% - 60px) / 3);
}



.masters-top-text {
    font-weight: 400;
font-size: 18px;
line-height: 1.38;
text-align: center;
letter-spacing: 0.02em;
margin-top: 30px;
margin-bottom: 8px;
}

.masters-botton-text {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.35;
        text-align: center;
        letter-spacing: 0.02em;
        color:var(--first-focus-color);
        margin-bottom: 30px;
}

.masters-soc-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.masters-soc-item {
    width: 44px;
    height: 44px;
}

.masters-soc-item:not(:last-child) {
    margin-right: 10px;
}

.masters-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #000;
}

.masters-soc-link:focus,
.masters-soc-link:hover {
    color: var(--first-focus-color);
}

.masters-soc-icon {
    fill: currentColor;
}

/* -----------------gallery-------------- */
.gallery {
    padding: 120px 0px;
}

.gallery-text {
    font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        text-transform: uppercase;
        color:var(--fouth-text-color);
        margin-bottom: 44px;
        display: flex;
        align-items: center;
}

.gallery-text::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;
    margin-right: 20px;
}

.gallery-list {
    display: flex;
}

.gallery-item:not(:last-child) {
    margin-right: 30px;
}

.gallery-item {
    width: calc((100% - 90px) / 4);
}
/* ---------------reservetion-------------- */
.reservetion {
    background-color: #191c26;
    background-repeat: no-repeat;
    padding-top: 130px;
    padding-bottom: 120px;
}

.reservetion .container {
    display: flex;
}

.reservetion-left-box {
    width: calc(50% + 15px);
    background-color: #191C26;
}


.reservetion-title {
    font-weight: 700;
        font-size: 42px;
        line-height: 1.16;
        letter-spacing: 0.05em;
        color:var(--first-title-color);
}


.reservetion-item {
    font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.02em;
        text-decoration-line: underline;
        color:var(--third-text-color);
}

.reservetion-right-box {
    background-image: url(../image/reserv.png);
    height: calc(50% - 15px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    margin-left: 100px;
    background-color: transparent;
    
}

.reservetion-top-text {
    font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        text-transform: uppercase;
        color:var(--first-text-color);
}

.reservetion-text {
    font-weight: 400;
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.02em;
        color:var(--third-text-color);
}

.reservetion-second-title {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 1.16;
        letter-spacing: 0.05em;
        color: var(--first-text-color);
        margin-bottom: 40px;
}

.reservetion-link {
        color:var(--third-text-color);
}

.reservetion-nav {
    font-weight: 700;
        font-size: 18px;
        line-height: 1.67; 
        letter-spacing: 0.02em;
        margin-bottom: 20px;}

.reservetion-tel {
    font-weight: 400;
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.02em;
        margin-bottom: 20px;
}

.reservetion-mail {
    font-weight: 400;
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.02em;
        text-decoration-line: underline;
        margin-bottom: 70px;
}

.reservetion-top-text {
    font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        text-transform: uppercase;
        color:var(--first-text-color);
}

.reservetion-text {
    font-weight: 400;
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.02em;
        color: var(--third-text-color);
}

/* ------------------footer---------------- */
.footer .container {
    display: flex;
}

.footer-list {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.footer-text {
    font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.2em;
        color:var(--third-text-color);
}

.footer-item {
    font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.2em;
        color:var(--second-title-color);
        margin-left: 40px;
}

.footer-link {
    font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.2em;
        color: var(--fouth-text-color);
}

.footer-link:hover,
.footer-link:focus {
    color: var(--first-focus-color);
}